.background {
  @apply pointer-events-none absolute left-0 top-0 h-full w-full overflow-hidden [--left:#f8cde8] [--right:#b9ddff] dark:[--left:#4c2638] dark:[--right:#223b67];

  .background-left {
    &::before {
      position: absolute;
      top: calc(50% - 299px);
      left: -12.5%;
      z-index: 10;
      width: 25%;
      height: 900px;
      pointer-events: none;
      content: '';
      background: linear-gradient(180deg, #77b8ff, #2a8af666);
      filter: blur(125px);
      border-radius: 100%;
      mix-blend-mode: normal;
      opacity: 0.25;
      transform: rotate(-15deg);
      will-change: filter;
    }

    &::after {
      position: absolute;
      top: calc(50% + 87px);
      left: 0;
      width: 40%;
      height: 422px;
      pointer-events: none;
      content: '';
      background: linear-gradient(180deg, #1d5ca233, #2a8af666);
      filter: blur(125px);
      mix-blend-mode: normal;
      opacity: 0.2;
      will-change: filter;
    }
  }

  .background-right {
    &::before {
      position: absolute;
      top: calc(50% - 299px);
      right: -12.5%;
      z-index: 10;
      width: 25%;
      height: 900px;
      pointer-events: none;
      content: '';
      background-image: linear-gradient(180deg, #ec97cf66, #652f49);
      filter: blur(125px);
      border-radius: 100%;
      mix-blend-mode: normal;
      opacity: 0.25;
      transform: rotate(15deg);
      will-change: filter;
    }

    &::after {
      position: absolute;
      top: calc(50% + 87px);
      right: 0;
      width: 40%;
      height: 422px;
      pointer-events: none;
      content: '';
      background: linear-gradient(180deg, #ec97cf66, #652f49);
      filter: blur(125px);
      mix-blend-mode: normal;
      opacity: 0.2;
      will-change: filter;
    }
  }

  .background-bottom-mask {
    @apply absolute bottom-0 left-0 z-10 h-48 w-full bg-gradient-to-t from-white to-white/10 dark:from-black dark:to-black/10;
  }

  .content {
    @apply absolute inset-0 overflow-hidden;
    transition: perspective 3s;
    perspective: 1000px;

    .mask {
      @apply absolute inset-0 z-10 bg-gradient-to-t from-white/0 to-white to-95% dark:from-black/0 dark:to-black;
    }

    .lines-wrapper {
      @apply absolute bottom-0 left-0 right-0 top-0;
      transform: rotateX(60deg);

      .lines {
        position: absolute;
        inset: -100% 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200vw;
        margin-left: -50%;
        overflow: hidden;
        background: linear-gradient(
          to right,
          var(--right) 45%,
          var(--left) 55%
        );
        background-position-y: 100%;
        transform: translateY(0);
        animation: 30s linear infinite move;
        mask-image: linear-gradient(90deg, #000 2px, #0000 0),
          linear-gradient(180deg, #000 2px, #0000 0);
        mask-position: 50% 0;
        mask-repeat: repeat;
        mask-size: 80px 80px;
      }
    }
  }
}

@keyframes move {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(50% + 28px));
  }
}
