html,
body {
  overflow-x: hidden;
  background-color: var(--bg-color);
  scroll-behavior: smooth;
}

html.light {
  --bg-color: theme('colors.white');
}

html.dark {
  --bg-color: theme('colors.black');
}
