.react-grid-item {
  background-size: 200%;
  border-width: 1px;
  box-shadow: 0 8px 16px -4px #2c2d300c;
  transition: all 200ms ease;
  transition-property: left, top, transform;
  animation: gradient 5s ease infinite;

  @apply rounded-3xl border-[#e3e8f7] bg-white dark:border-zinc-900/100 dark:bg-zinc-900/60;

  /* transition-property: transform; */

  /* &:not(.react-grid-placeholder) {
    background: #ccc;
  } */

  /* &.cssTransforms {
    transition-property: transform;
  } */

  &.react-draggable-dragging {
    z-index: 3;
    transition: none;
    will-change: transform;
  }

  &.react-grid-placeholder {
    @apply select-none rounded-none bg-blue-700 opacity-10 duration-100;
    z-index: 2;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
