#content {
  width: 100%;
}

.react-grid-layout {
  /* background: #eee; */
}

/* .layoutJSON {
  padding: 10px;
  margin-top: 10px;
  background: #ddd;
  border: 1px solid black;
} */

/* .columns {
  columns: 120px;
} */

.react-grid-item {
  background-color: #fff;
  border-color: #e3e8f7;
  border-width: 1px;
  box-shadow: 0 8px 16px -4px #2c2d300c;
}

.react-grid-item:not(.react-grid-placeholder) {
  /* background: #ccc;
  border: 1px solid black; */
}

/* .react-grid-item.resizing {
  opacity: 0.9;
} */

/* .react-grid-item .text {
  position: absolute;
  inset: 0;
  height: 24px;
  margin: auto;
  font-size: 24px;
  text-align: center;
}

.react-grid-item .minMax {
  font-size: 12px;
} */

/* .react-grid-item .add {
  cursor: pointer;
} */

/* .react-grid-dragHandleExample { */

/* fallback if grab cursor is unsupported */

/* cursor: grab;
} */

/* li b {
  font-size: 19px;
  line-height: 14px;
} */

/* .react-grid-item.cssTransforms {
  transition-property: transform;
} */

/* .react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
} */

.react-grid-layout {
  position: relative;

  /* transition: height 200ms ease; */
}

.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}

.react-grid-item.cssTransforms {
  transition-property: transform;
}

.react-grid-item.react-draggable-dragging {
  z-index: 3;
  transition: none;
  will-change: transform;
}

.react-grid-item.react-grid-placeholder {
  z-index: 2;
  user-select: none;
  background: red;
  border-radius: 0;
  opacity: 0.2;
  transition-duration: 100ms;
}
